.mainPage {
    background-color: rgb(243, 232, 255);
    padding: 20px;
    display: flex;
    margin-top: 30px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-around;
}
