.votingFormContainer {
    margin: auto;
    font-size: 20px;
    font-family: 'Arial';
    background-color: rgba(188, 211, 245, 0.301);
    margin-top: 30px;
    border-radius: 10px;
    padding: 20px;
}

.dropdown {
    padding: 7px;
    font-size: 15px;
    margin: 0 10px 0 10px;
}

.dropdownOption {
    font-size: 18px;
}

.submitButton {
    padding: 14px;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 10px;
    border: none;
    background-color: rgba(99, 59, 136, 0.719);
    color: white;
    cursor: pointer;
}

.submitButton:hover {
    background-color: rgb(99, 59, 136);
}